/*!*********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/class-name-select-control/editor.css ***!
  \*********************************************************************************************************************************************************************************************************/
.cla-editor-class-name-select-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
/*!*************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/box-class-name-select-control/editor.css ***!
  \*************************************************************************************************************************************************************************************************************/
.cla-editor-box-class-name-select-control {
	display: flex;
	flex-direction: row;
	gap: 2px;
}
.cla-editor-box-class-name-select-control > .cla-editor-class-name-select-control {
	flex-basis: 25%;
}
/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/help-text/editor.css ***!
  \*****************************************************************************************************************************************************************************************/
.cla-editor-help-text {
	grid-column: 1 / -1;
}
