#Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#Mac OS X
.DS_Store
._*

#Archives
*.cab
*.msi
*.msm
*.msp
*.lnk

#PHPStorm
/.idea
.idea/workspace.xml

#Atom Remote-FTP
.ftpconfig

#VSCode
.vscode

#NPM
node_modules
/blocks/
/assets/js/editor.asset.php
/assets/js/editor.js
/assets/js/editor.js.map
/assets/js/index-rtl.css
/assets/js/index.css
/assets/js/index.css.map

#Composer
vendor

#WP ENV
.wp-env.json
.htaccess