.header-media-wrapper {
	height: calc(100vh - 32px);
}
.has-csu-fye-side-decoration-left {
	position: relative;
	padding-left: var(--wp--preset--spacing--4);
}
.csu-fye-side-decoration-left {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: var(--wp--preset--spacing--4);
	background-color: var(--wp--preset--color--energy-green);
}

.csu-fye-color-bars {
	width: 100%;
	min-height: var(--wp--preset--spacing--10);
	background-color: var(--wp--preset--color--csu-green);
}

.csu-fye-breadcrumbs {
	margin-inline-start: var(--wp--preset--spacing--1);
	margin-inline-end: var(--wp--preset--spacing--1);
	writing-mode: sideways-lr;
}

.header-media-wrapper .wp-block-image {
	width:100;
	height:100%;
}
.header-media-wrapper .wp-block-image img {
	width:100%;
	height:100%;
	object-fit: cover;
	object-position: center;
}





:root {
	--color--palette-1: #ff0000;
	--color--palette-2: #00ff00;
}

.collage {
	color: var(--color--palette-2);
	background-color: var(--color--palette-1);
}

.is-style-palette-1 {
	--color--palette-1: #0000ff;
	--color--palette-2: #ffffff;
}
.is-style-palette-2 {
	--color--palette-1: #000000;
	--color--palette-2: #00ff00;
}

:root {
	--color--palette-1: #444444;
	--color--palette-2: #eeeeee;
}