/* Style: highlight-headline */
:is(p, span).is-style-highlight-headline {
	padding: var(--cla--font-size--90);
	display: inline-block;
	font-size: var(--cla--font-size--200);
	font-weight: 600;
	line-height: 1;
}
:is(p, span).is-style-highlight-headline > em {
	font-family: var(--cla--font-family--serif);
	font-size: 1.1em;
	font-weight: 400;
}

/* Style: emphasis-headline-small, emphasis-headline-large */
:is(p, span).is-style-emphasis-headline-large,
:is(p, span).is-style-emphasis-headline-small,
.editor-styles-wrapper .is-layout-constrained > :is(p, span).is-style-emphasis-headline-large,
.editor-styles-wrapper .is-layout-constrained > :is(p, span).is-style-emphasis-headline-small {
	margin-block-start: var(--cla--font-size--90);
	margin-block-end: var(--cla--font-size--90);
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
}
:is(p, span).is-style-emphasis-headline-large > em,
:is(p, span).is-style-emphasis-headline-small > em {
	font-family: var(--cla--font-family--serif);
	font-weight: 500;
}
:is(p, span).is-style-emphasis-headline-small {
	font-size: var(--cla--font-size--200);
	letter-spacing: 5px;
}
:is(p, span).is-style-emphasis-headline-small > em {
	font-family: var(--cla--font-family--serif);
	text-transform: capitalize;
}
:is(p, span).is-style-emphasis-headline-large,
.editor-styles-wrapper .is-layout-constrained > :is(p, span).is-style-emphasis-headline-large {
	font-size: var(--cla--font-size--400);
	letter-spacing: 8px;
	line-height: 0.75;
}
:is(p, span).is-style-emphasis-headline-large > em {
	font-family: var(--cla--font-family--serif);
	font-weight: 400;
}



@container (max-width: 768px) {
	:is(p, span).is-style-emphasis-headline-large {
		hyphens: auto;
		overflow-wrap: break-word;
	}
}



@media (max-width: 768px) {
	:is(p, span).is-style-emphasis-headline-large {
		hyphens: auto;
		overflow-wrap: break-word;
	}
}