.cla-header__media .block-editor-block-list__layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.cla-header__media .block-editor-block-list__layout .wp-block-image {
	width: 100%;
	height: 100%;
}
.cla-header__media .components-resizable-box__container {
	max-width: none !important;
	max-height: none !important;
	width: 100% !important;
	height: 100% !important;
}
.cla-header__media .wp-block-image .components-placeholder {
	height: 100%;
	justify-content: center;
}
.cla-header__breadcrumbs,
.cla-header__title,
.cla-header__subtitle {
	margin: 0 !important;
}